services:
  redis-db:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  fastapi-app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis-db
    depends_on:
      - redis-db

volumes:
  redis_data: